<launch>
  <arg name="node_name" default="apsrc_v2x_rosbridge"/>
  <arg name="ip" default="192.168.222.1"/>
  <arg name="port" default="10220"/>
  <arg name="visualization" default="true"/>

  <node name="$(arg node_name)" pkg="apsrc_v2x_rosbridge" type="apsrc_v2x_rosbridge_node" output="screen">
    <param name="server_ip" value="$(arg ip)"/>
    <param name="server_port" value="$(arg port)"/>
  </node>

  <node if="$(arg visualization)" name="v2x_viz" pkg="apsrc_v2x_viz" type="apsrc_v2x_viz_node"/>
</launch>
